input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button2 {
  background-color: brown;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#mainBtn {
  background-color: brown;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#GameCanvas {
	border: 100px;
}

#lobby {
	display: none;
	width: 300px;
	height: 300px;	
}

#GameArea {
	display: none;
}

.image1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.form-popup {
  display: none;
  position: fixed;
  top: 5%;
  left: 20%;
  border: 3px solid #f1f1f1;
}

#statPage{
	background-image: url('imgs/pirate.png');
	position: fixed;
	top: 100px;
	left:0px;
	height: 500px;
	width: 200px;
}

#statPage a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

#Merchant {
  position:absolute;
  top: 35%;
  left: 30%;
  z-index: 2;
  padding: 100px 100px 100px 100px;
} 

#GameCanvas {
  z-index: 1;
}

#deathMsg {
	background-color: black;
	color: white;
	position: fixed;
	font-family: papyrus;
	text-align: center;
	top: 425px;
	right: 250px;
	height: 100px;
	width: 100px;
}

#fuel {
  position: relative;
  top: 80px;
  left: 10px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}
#Ammo {
  position: relative;
  bottom: 26px;
  left: 30px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

#repair {
  position: relative;
  top: 30px;
  right: 18px;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}

#spacer {
  visibility: hidden;
}

#myForm {
  background-color:rgba(0, 0, 0, 0.1);
  color: black;
}